html.light {
  --color-0A: #4876d6;
  --color-0B: #111111;
  --color-0C: #c96765;
  --color-0D: #aa0982;
  --color-0E: #4876d6;
  --color-0F: #989fb1;
  --color-0G: #111111;
  --color-0H: #0c969b;
  --color-0I: #bc5454;
  --color-0J: #aa0982;
  --color-0K: #0c969b;
  --color-0L: #4876d6;
  --pre-color-bg: #f0f0f0;
  --highlighted-line: #4876d6;
  --color-selection: #dad9d9;
}

html.dark {
  --color-0A: #569cd6;
  --color-0B: #82aaff;
  --color-0C: #ffcb8b;
  --color-0D: #f78c6c;
  --color-0E: #c5e478;
  --color-0F: #637777;
  --color-0G: #ffffff;
  --color-0H: #baebe2;
  --color-0I: #ff5874;
  --color-0J: #f78c6c;
  --color-0K: #80cbc4;
  --color-0L: #82aaff;
  --pre-color-bg: #111a27;
  --highlighted-line: #c792ea;
  --color-selection: #1d3b53;
}

pre,
code {
  font-variant-ligatures: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  /* line-height: 1.5; */
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
code[class*='language-'] {
  font-family: inherit;
  display: inline-block;
  min-width: 100%;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: var(--color-selection);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: var(--color-selection);
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* .namespace { */
/*   color: #b2ccd6; */
/* } */
/**/
/* .token.imports, */
/* .token.template-string.interpolation { */
/*   color: var(--color-0G); */
/* } */
/**/
/* .token.template-string.interpolation.interpolation-punctuation.punctuation { */
/*   color: var(--color-0I); */
/* } */
/**/
/* .token.punctuation { */
/*   color: var(--color-0A); */
/* } */
/**/
/* .token.plain { */
/*   color: var(--color-0B); */
/* } */
/**/
/* .token.tag.script.language-javascript.template-string.interpolation.function { */
/*   color: var(--color-0L); */
/* } */
/**/
/* .token.deleted { */
/*   color: rgba(239, 83, 80, 0.56); */
/* } */
/**/
/* .token.imports.operator { */
/*   color: var(--color-0B); */
/* } */
/**/
/* .token.symbol, */
/* .token.property { */
/*   color: var(--color-0K); */
/* } */
/**/
/* .token.property-access { */
/*   color: var(--color-0H); */
/* } */
/**/
/* .token.property-access.maybe-class-name { */
/*   color: var(--color-0C); */
/* } */
/**/
/* .token.maybe-class-name { */
/*   color: var(--color-0G); */
/* } */
/**/
/* .token.tag.attr-value.punctuation, */
/* .token.console.class-name, */
/* .token.tag, */
/* .token.imports.punctuation, */
/* .token.class-name { */
/*   color: var(--color-0G); */
/* } */
/**/
/* .token.comment, */
/* .token.prolog, */
/* .token.cdata .token.tag.comment { */
/*   color: var(--color-0F); */
/* } */
/**/
/* .token.tag.punctuation { */
/*   color: var(--color-0H); */
/* } */
/**/
/* .token.tag.script.script-punctuation.punctuation { */
/*   color: var(--color-0A); */
/* } */
/**/
/* .token.tag.class-name { */
/*   color: var(--color-0D); */
/* } */
/**/
/* .token.known-class-name.class-name { */
/*   color: var(--color-0B); */
/* } */
/**/
/* .token.spread.operator { */
/*   color: var(--color-0H); */
/* } */
/**/
/* /* Generics */
/* .token.generic-function.generic.class-name { */
/*   color: var(--color-0C); */
/* } */
/**/
/* .token.generic-function.generic.class-name.operator { */
/*   color: var(--color-0A); */
/* } */
/**/
/* .token.generic-function.generic.class-name.keyword { */
/*   color: var(--color-0K); */
/*   font-style: normal; */
/* } */
/**/
/* .token.operator, */
/* .token.keyword, */
/* .token.tag.attr-value.punctuation.attr-equals { */
/*   color: var(--color-0A); */
/* } */
/**/
/* .token.boolean { */
/*   color: var(--color-0I); */
/* } */
/**/
/* .token.number { */
/*   color: var(--color-0J); */
/* } */
/**/
/* .token.builtin { */
/*   color: var(--color-0E); */
/* } */
/**/
/* .token.constant, */
/* .token.function, */
/* .token.char { */
/*   color: var(--color-0L); */
/* } */
/**/
/* .token.selector, */
/* .token.doctype { */
/*   color: #c792ea; */
/* } */
/**/
/* .token.attr-name, */
/* .token.inserted { */
/*   color: var(--color-0E); */
/* } */
/**/
/* .token.url, */
/* .token.entity, */
/* .language-css .token.string, */
/* .style .token.string { */
/*   color: var(--color-0E); */
/* } */
/**/
/* .token.atrule, */
/* .token.attr-value, */
/* .token.string, */
/* .token.tag.script.language-javascript.template-string.interpolation.string { */
/*   color: var(--color-0C); */
/* } */
/**/
/* .token.regex, */
/* .token.important, */
/* .token.variable { */
/*   color: var(--color-0H); */
/* } */
/**/
/* .token.important, */
/* .token.bold { */
/*   font-weight: bold; */
/* } */
/**/
/* .token.italic { */
/* } */
/**/
/* .token.selector.class { */
/*   color: var(--color-0E); */
/* } */
/**/
/* .token.color { */
/*   color: var(--color-0K); */
/* } */
/**/
/* .token.color.number { */
/*   color: var(--color-0D); */
/* } */
/**/
/* .token.color.function { */
/*   color: var(--color-0E); */
/*   font-style: normal; */
/* } */
/**/
/* .token.generic-function.function { */
/*   color: var(--color-0L); */
/* } */
/**/
/* /* CSS */
/* pre.language-css .token.punctuation { */
/*   color: var(--color-0G); */
/* } */
/**/
/* pre.language-css .token.selector { */
/*   color: var(--color-0I); */
/*   font-style: normal; */
/* } */
/**/
/* pre.language-css .token.selector.attribute.punctuation { */
/*   color: var(--color-0A); */
/* } */
/**/
/* pre.language-css .token.selector.attribute.attr-name, */
/* pre.language-css .token.selector.pseudo-element { */
/*   color: var(--color-0E); */
/* } */
/**/
/* pre.language-css .token.unit { */
/*   color: var(--color-0C); */
/* } */
/**/
/* pre.language-css .token.function, */
/* pre.language-css .token.variable { */
/*   color: var(--color-0E); */
/*   font-style: normal; */
/* } */
/**/
/* pre.language-css .token.plain { */
/*   color: var(--color-0G); */
/*   font-style: normal; */
/* } */

/* HTML */
pre.language-html .token.plain {
  font-style: normal;
}

/* Component specifics */
.inline-code {
  font-family: var(--font-mono);
  background-color: var(--pre-color-bg);
  color: var(--color-0A);
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

[data-line-number]:before {
  background-color: var(--pre-color-bg);
  color: var(--color-0F);
  content: attr(data-line-number);
  display: inline-block;
  left: 0;
  padding-left: 0;
  padding-right: 0.875rem;
  text-align: right;
  width: 2.5rem;
  position: sticky;
}

.highlighted-line[data-line-number]:before {
  border-left: 0.25em solid var(--color-0A);
}

.highlighted-line:after {
  background: var(--highlighted-line);
  content: ' ';
  left: 0;
  opacity: 0.15;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.token-line {
  line-height: 1.6;
}

/* .token-line .token { */
/*   line-height: 1.2; */
/*   vertical-align: text-top; */
/* } */
