@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Scto';
  src:  local('Scto Grotesk A'),
        url('/fonts/scto/regular.woff2') format('woff2'),
        url('/fonts/scto/regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Scto';
  src:  local('Scto Grotesk A'),
        url('/fonts/scto/bold.woff2') format('woff2'),
        url('/fonts/scto/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Dank Mono';
  src:  local('Dank Mono'),
        url('/fonts/dank-mono/regular.woff2') format('woff2'),
        url('/fonts/dank-mono/regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Dank Mono';
  src:  local('Dank Mono'),
        url('/fonts/dank-mono/italic.woff2') format('woff2'),
        url('/fonts/dank-mono/italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@layer base {
  :root {
    --font-sans: 'Scto', sans-serif;
    --font-mono: 'Dank Mono', 'Roboto Mono', Menlo, Consolas, Monaco,
      source-code-pro, Courier New, monospace;
    --color-white: #fbf9f9;
    --color-black: #1c1c27;
  }
}

html.light {
  --color-primary: #d44e4e;
  --text-color: var(--color-black);
  --bg-color: var(--color-white);
}

html.dark {
  --color-primary: #d44e4e;
  --text-color: var(--color-white);
  --bg-color: var(--color-black);
}

html {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
